{% extends  'base.html' %}
{% block title%}Create a Review{%endblock%}


{% block content %}

  <!--Form Content-->
    <div class="review-form container mt-5">
        <h1 class="review-header mb-4">Create a New Review</h1>
        <form method="POST" class="needs-validation" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-warning">Submit</button>
            <a href="{% url 'review_list' %}" class="btn btn-danger">Cancel</a>
        </form>
    </div>

    <!-- Bootstrap JS Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

{% endblock content %}