{% extends 'base.html' %}

{% block content %}
<!--form content-->
    <div class="register-form container mt-5">
        <h1 class=" register-header mb-4">Register</h1>
        
        {% if messages %}
            <div class="alert alert-info">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}  <!-- Display form fields here -->
            <button type="submit" class="btn btn-warning">Register</button>
        </form>
        <button class=" login-btn btn btn-link mt-3" data-bs-toggle="modal" data-bs-target="#loginModal">
           <p> Already have an account? Login Here</p>
          </button>
        
    </div>
{% endblock content %}

