@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
background-image: url('/static/media/images/pitch.jpeg');
background-repeat: repeat;
background-size: cover;
height:100vh;
background-position: center;
width: 100%;


 
}




  p{
    font-size: 1.4rem;
  
  }

.review_btn{
  background-color: #fff;
  color: black;
}


.table {
  border-collapse: separate;
  border-spacing:0 20px;
}


.comment-box {
  position: relative;
}
.comment-preview {
  color: #555;
}
.comment-full {
  white-space: pre-wrap;
}

.form-control{
  width: 25%;
}

#id_comments.form-control{
  width: 100%
}

#id_username.form-control{
  width: 100%
}

#id_password.form-control{
  width: 100%

}

.hero{
  max-height: 100vh;
 }


.home-page{
 font-size: 250px;
 font-family:'Luckiest Guy', sans-serif;
 color: #fff;
 -webkit-text-stroke: 3px black;

}
 
.blurb{
  font-size: 80px;
  font-family:'Luckiest Guy', sans-serif;
  color: #fff;
  -webkit-text-stroke: 3px black;;
  text-align: center;

}

.review-list{
  font-family:'Luckiest Guy', sans-serif;
  color: #fff;
  -webkit-text-stroke: 3px black;;
 
}

.log-message{
  margin-top: 5px;
  margin-right: 2px;
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  background-color: #fff;

}

ul{
 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

.card{
  border-radius: 15px;

  color: black
}

@media (max-width: 810px){


.body{
  height: 100vh;
}

  .home-page{
   font-size: 120px;  
  text-align: center;
  }
  
  .blurb{
    font-size: 40px;
    text-align: center;
    font-family: 'Luckiest Guy', sans-serif;
    color: #fff;
  }

  .log-message{
    justify-self: center;
    background-color: transparent;
    color: #fff;
    font-family: 'Sriracha', sans-serif;
    font-weight: bold;
  }
}