body {
  background-color: #29a329;

 
}




  p{
    font-size: 1.4rem;
  
  }

.review_btn{
  background-color: #fff;
  color: black;
}


.table {
  border-collapse: separate;
  border-spacing:0 20px;
}


.comment-box {
  position: relative;
}
.comment-preview {
  color: #555;
}
.comment-full {
  white-space: pre-wrap;
}

.form-control{
  width: 25%;
}

#id_comments.form-control{
  width: 100%
}

#id_username.form-control{
  width: 100%
}

#id_password.form-control{
  width: 100%

}

img{
  display: flex;
  flex-direction: row;
  justify-self: center;
}


  
 
 
